<!-- contact.component.html -->
<section id="contact">
  <span class="section-tag">{{ translationService.t('contact.tag') }}</span>
  <h2>{{ translationService.t('contact.title') }}</h2>
  <div class="section-divider"></div>

  <div class="contact-box">
    <p>{{ translationService.t('contact.text') }}</p>

    <a href="mailto:joaopoliveirapaulino@gmail.com" class="email-link">
      <i class="fas fa-envelope"></i> joaopoliveirapaulino&#64;gmail.com
    </a>

    <button (click)="openLink('https://github.com/JoaoPOPaulino')">
      <i class="fab fa-github"></i> GitHub
    </button>
  </div>
</section>