<!-- hero.component.html -->
<section class="hero">
  <div class="hero-container">

    <div class="hero-content">
      <p class="greeting">{{ translationService.t('hero.greeting') }}</p>
      <h1><span>João Pedro</span><br>de Oliveira Paulino</h1>
      <h3 class="subtitle">{{ translationService.t('hero.subtitle') }}</h3>

      <p class="description">
        {{ translationService.t('hero.description') }}
      </p>

      <div class="hero-buttons">
        <button class="btn-primary" (click)="openLink('https://github.com/JoaoPOPaulino')">
          <i class="fab fa-github"></i> GitHub
        </button>
        <button class="btn-secondary" (click)="downloadCV()">
          <i class="fas fa-download"></i> {{ translationService.t('hero.cv') }}
        </button>
      </div>
    </div>

    <div class="hero-image">
      <div class="image-border">
        <img src="joao.jpg" alt="Foto de João Pedro">
      </div>
    </div>

  </div>
</section>